<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理后台</title>
    <style>
        p {
            text-align: center;
        }
        h2 {
           text-align: center;
        }
        a:hover{
            color: red;
            font-size: 20px;
        }
    </style>
</head>
<body>
<h1 style="text-align: center;">Welcome back , Administrator </h1>
<h2>you can do all this below</h2><br><br>
<p>
<a href="add_question_answer">ADD</a><br><br>
<a href="search_question_answer">SEARCH</a>
</p>
</body>
</html>