<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户个人主页</title>
    <link rel="stylesheet" href="/static/usertable/css/home.css">
<!--    <style>-->
<!--        .background-container {-->
<!--        width: 800px;-->
<!--        height: 400px;-->
<!--        padding: 20px;-->
<!--        margin: 200px auto; /* auto 水平居中，上下外边距可以自定义 */-->
<!--        background-image: url('static/img/welcome.gif');-->
<!--        background-repeat: no-repeat;-->
<!--        background-position: 100px auto;-->
<!--        }-->

<!--    </style>-->
</head>
<body>
<!--<div class="background-container">-->

    <div style="margin: auto -1200px;">
    <img src='/static/usertable/img/welcome.gif' alt="背景图片" >
</div>


<!--    <div style="margin: auto 1200px;">-->
<!--    <img src='static/img/welcome1.gif' alt="背景图片" >-->
<!--</div>-->

    <header>
        <h1>欢迎，{{ show_user }}！</h1>
        <!-- 假设的登出链接（通常需要通过JavaScript或后端逻辑处理） -->
<!--        <a href="login" id="logout-link">登出</a>-->
<!--        <a href="javascript:void(0);" id="logout-link">登出</a>-->
        <a href="../caculator">计算器</a>

    </header>
    <main>
        <!-- 用户信息区域 -->
        <section id="user-info">
            <h2>用户信息</h2>
            <p>注册时间：<span id="user-name">{{ date }}</span></p>

            <!-- 可以添加更多用户信息字段 -->
        </section>

        <!-- 用户的其他内容，如动态、消息等 -->
        <!-- ... -->
    </main>

    <!-- 引入JavaScript文件（如果需要） -->
    <script src="/static/usertable/js/home.js"></script>
</body>
</html>